.jokes_page {
  color: #665f5f;
  font-size: 17px;
  padding: 2% 24%;
  font-family: cursive;

  .page_heading {
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #dbdbdb;
  }

  ul {

    li {
      padding: 18px 0;
      border-bottom: 1px solid #dbdbdb;
      animation-name: animateIn;
      animation-duration: 350ms;
    }
  }

  .load_more {
    font-family: cursive;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    color: white;
    background: #484848;

    &:hover {
      background: #787878;
    }

    &:active {
      background: #787878;
      transform: translateY(4px);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}